.Cart
    padding: 3em 10em
    display: flex
    flex-direction: column
    &-header
        display: flex
        justify-content: center
        align-items: center
    &-container
        display: flex
        flex-direction: column
        &-items
            display: flex
            flex-direction: column
            &-item
                display: flex
                flex-direction: row
                align-items: center
                min-width: 500px
                max-height: 250px
                padding: 0.3em
                border-radius: 10px
                overflow: hidden
                box-shadow: 0px 0px 5px -2px #999
                margin-bottom: 1em
                img
                    width: 25%
                    height: 240px
                    border-radius: 7.5px
                    object-fit: cover
                    object-position: center
                &-right
                    width: 75%
                    height: 225px
                    margin: 0.3em 0.9em
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    &-top
                        display: flex
                        justify-content: space-between
                        align-items: center
                        h2
                            color: #465b52
                            font-size: 0.8em
                        button
                            display: flex
                            align-items: center
                            justify-content: center
                            border: none
                            border-radius: 5px
                            width: 40px
                            height: 40px
                            cursor: pointer
                            font-size: 1.4em
                    &-middle
                        .descritpion
                            margin: 0em 
                            color: #465b52
                            max-width: 75%
                    &-bottom
                        display: flex
                        flex-direction: row
                        justify-content: space-between
                        bottom: 0
                        &-left
                            h2
                                font-size: 1.2em
                        &-right
                            display: flex
                            align-items: center
                            justify-content: center
                            button
                                width: 25px
                                height: 25px
                                border: none
                                background: #ffffff00
                                font-size: 1.2em
                                cursor: pointer
                            .indicator
                                width: 25px
                                height: 25px
                                background: #eeeeee
                                h2
                                    text-align: center
                                    position: relative
                                    font-size: 0.8em
                                    top: 55%
                                    left: 50%
                                    transform: translate(-50%, -50%)
